// ====================================
// GITHUB PANEL
// ==================================== 

.github-entry {
  padding-bottom: 0.7em;
}

.github-entry span {
  white-space: pre;
}

.github-entry-details {
  display: flex;
  align-items: center;
}

.github-name {
  margin-left: -0.4em;
  color: #e74c3c;
  font-weight: 700;
}

.span-emphasis {
  display: inline-block;
  color: #3498db;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 16rem;
  vertical-align: bottom;
}

.github-icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: 1em;
}

.github-link:hover {
  color: #2980b9;
}

.github-message {
  margin-left: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.github-time {
  color: #2ecc71;
  display: inline-block;
}
