// ====================================
// PANELS
// ==================================== 

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  color: #ecf0f1;
  font-size: 1.6rem;
  background-color: #2c3e50;
  height: auto;
}

.panel-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
}

.panel-header h3 {
  border-bottom: 0.01em solid #7f8c8d;
  padding: 2rem;
  width: 100%;
}

.panel-container {
  display: flex;
  flex-direction: column;
  background-color: #28394a;
  width: 85rem;
  height: 48rem;
  margin: 2rem 1rem 0rem 2rem;
}

.panel-container li {
  list-style-position: inside;
  word-break: break-word;
}

.panel-content {
  padding: 1.1em;
  flex: 1;
  font-size: 1.6em;
  color: #ecf0f1;
  overflow: auto;
}

.refresh-container {
  background-color: #c0392b;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.01em solid #c0392b;
  transition: all 0.6s;
}

.refresh-container:hover {
  background-color: #c25246;
  border-bottom: 0.01em solid #c25246;
  cursor: pointer;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.refresh-container:hover .refresh {
  animation: rotate 1.5s linear infinite;
}

.refresh {
  width: 2.5rem;
}
